* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-qve-spa.qve-spa.dix -text
/apertium-qve-spa.qve-spa.lrx -text
/apertium-qve-spa.qve-spa.rlx -text
/apertium-qve-spa.qve-spa.t1x -text
/apertium-qve-spa.qve-spa.t2x -text
/apertium-qve-spa.qve-spa.t3x -text
/apertium-qve-spa.spa-qve.lrx -text
/apertium-qve-spa.spa-qve.t1x -text
/apertium-qve-spa.spa-qve.t2x -text
/apertium-qve-spa.spa-qve.t3x -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
/spa-qve-supervised.make -text
/spa-qve-unsupervised.make -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
