* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/INSTALL -text
/Makefile -text
/README -text
/apertium-spa-qve.post-spa.dix -text
/apertium-spa-qve.qve-spa.rlx -text
/apertium-spa-qve.qve-spa.t1x -text
/apertium-spa-qve.qve-spa.t2x -text
/apertium-spa-qve.qve-spa.t3x -text
/apertium-spa-qve.qve.lexc -text
/apertium-spa-qve.qve.twol -text
/apertium-spa-qve.spa-qve.dix -text
/apertium-spa-qve.spa-qve.t1x -text
/apertium-spa-qve.spa-qve.t2x -text
/apertium-spa-qve.spa-qve.t3x -text
/apertium-spa-qve.spa.dix -text
/apertium-spa-qve.spa.tsx -text
/comptodo -text
/modes.xml -text
/spa-qve-supervised.make -text
/spa-qve-unsupervised.make -text
/spa-qve.prob -text
